
plugins {
  id 'nf-schema@2.2.0'
}

validation {
  parametersSchema = './nextflow_schema.json'
}

params {
  // Input/output
  outdir = 'results'
  fastq_dir = null
  genome_dir = null
  sample_sheet = null

  // Paremeters
  experiment_name = 'TRACE_ISA'
  R1_adapter = "NNNNCGAGTTTTAATGACTCCAACT"
  R2_adapter = "AGTGGCACAGCAGTTAGGNNNNNNNNAGATGTGTATAAGAGACAG"
  IR_seq = "TAAGTGTATGTAAACTTCCGACTTCAACTG"
  min_length = 20
  allowed_errors_r1_adapter = 4
  allowed_errors_ir = 4
  allowed_errors_adapter_readthrough = 4
  allowed_errors_ir_readthrough = 3

  exclude_flags = 3852
  required_flags = 3
  min_mapq = 30
  softclip_threshold = 5

  grouping_distance = 5
  grouping_mode = 'median'
}

process {
  withLabel: process_low {
    cpus = 2
    memory = '8.GB'
  }
  withLabel: process_medium {
    cpus = 4
    memory = '16.GB'
  }
  withLabel: process_large {
    cpus = 8
    memory = '32.GB'
  }
  withLabel: process_high_memory {
    memory = '96.GB' 
  }
}

profiles {
  docker {
    docker.enabled = true
    process {
      withLabel: ubuntu {
        container = "ubuntu:24.10"
      }
      withLabel: bwa {
        container = "quay.io/biocontainers/bwa-mem2:2.2.1--he70b90d_8"
      }
      withLabel: isatoolkit {
        container = 'ensoma/isatoolkit:0.1.1'
      }

      withName: FASTQC {
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
      }
      withName: EXTRACT_UMIS {
        container = 'quay.io/biocontainers/umi_tools:1.1.5--py311haab0aaa_4'
      }
      withName: TRIM_FASTQS {
        container = 'quay.io/biocontainers/cutadapt:5.0--py310h1fe012e_0'
      }
      withName: AGGREGATE_INTEGRATION_SITES {
        container = 'quay.io/biocontainers/csvtk:0.31.0--h9ee0642_0'
      }
    }
  }
}